#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lessandgreater: lessandgreater {
            compatible = "zmk,behavior-mod-morph";
            label = "LESSANDGREATER";
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        commasemicolon: commasemicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMASEMICOLON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        periodcolon: periodcolon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIODCOLON";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        two: two {
            compatible = "zmk,behavior-mod-morph";
            label = "TWO";
            bindings = <&kp KP_NUMBER_2>, <&kp DOUBLE_QUOTES>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        six: six {
            compatible = "zmk,behavior-mod-morph";
            label = "SIX";
            bindings = <&kp KP_NUMBER_6>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        seven: seven {
            compatible = "zmk,behavior-mod-morph";
            label = "SEVEN";
            bindings = <&kp KP_NUMBER_7>, <&kp SLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        eight: eight {
            compatible = "zmk,behavior-mod-morph";
            label = "EIGHT";
            bindings = <&kp KP_NUMBER_8>, <&kp LEFT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        nine: nine {
            compatible = "zmk,behavior-mod-morph";
            label = "NINE";
            bindings = <&kp KP_NUMBER_9>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        zero: zero {
            compatible = "zmk,behavior-mod-morph";
            label = "ZERO";
            bindings = <&kp KP_NUMBER_0>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC     &kp Q         &kp W         &kp E      &kp R  &kp T  &kp Z      &kp U  &kp I            &kp O           &kp P           &kp BACKSPACE
&kp TAB     &kp A         &kp S         &kp D      &kp F  &kp G  &kp H      &kp J  &kp K            &kp L           &kp MINUS       &kp ENTER
&kp LSHIFT  &kt Y         &kp X         &kp C      &kp V  &kp B  &kp N      &kp M  &commasemicolon  &periodcolon    &kp UP_ARROW    &lessandgreater
&kp LCTRL   &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE         &mo 1  &kp SPACE         &kp RIGHT_ALT    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
            >;
        };

        layer_1 {
            bindings = <
&kp ESC  &kp NUMBER_1  &two    &kp KP_NUMBER_3  &kp N4  &kp N5  &six    &seven          &eight            &nine              &zero            &trans
&trans   &trans        &trans  &trans           &trans  &trans  &trans  &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &trans
&trans   &trans        &trans  &trans           &trans  &trans  &trans  &trans          &trans            &trans             &trans           &trans
&trans   &trans        &trans  &trans                   &trans  &trans                  &trans            &trans             &trans           &trans
            >;
        };
    };
};
